/* FONTS */
@font-face { 
    font-family: 'RobotosLabBold'; 
    src: url('../fonts/robotosLabBold.eot'); 
    src: url('../fonts/robotosLabBold?#iefix') format('embedded-opentype'), 
         url('../fonts/robotosLabBold.woff') format('woff'), 
         url('../fonts/robotosLabBold.ttf') format('truetype'), 
         url('../fonts/robotosLabBold.svg#robotosLabBold') format('svg'); 
    font-style: normal; 
    font-weight: 700;
}

@font-face { 
    font-family: 'robotosLabLight'; 
    src: url('../fonts/robotosLabLight.eot'); 
    src: url('../fonts/robotosLabLight?#iefix') format('embedded-opentype'), 
         url('../fonts/robotosLabLight.woff') format('woff'), 
         url('../fonts/robotosLabLight.ttf') format('truetype'), 
         url('../fonts/robotosLabLight.svg#robotosLabLight') format('svg'); 
    font-style: normal;
    font-weight: 100;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    background-color: #262626;
    font-family: 'Roboto Slab', helvetica, sans-serif;
    -webkit-user-select: none;
    position:absolute;
    left:0; top:0; bottom:0;
    right:5px;
    font-size: 14px;
    line-height: 1.42857;
    margin:0;
}

a {
      outline: none;
}


/*


BAR SUR LE CÔTÉ


*/

#toolbar{
    position:fixed;
    left:0;
    right:-5px;
    top:0;
    height: 20px;
    background-color: #383838;
    z-index:10;
    box-shadow: 0px 3px 10px 1px #191919;
}

#toolbar p{
    float:left;
    margin:3px 0 0 45%;
    color: #F2F2F2;
    font-size:12px;
}

#leftbar{
    background-color: #191919;
    position: fixed;
    top:20px;
    bottom:0;
    left:0;
    width:170px;
}

#leftbar ul{
margin:0; padding:0;
}

#leftbar ul li{
    list-style-type: none;
    width:165px;
    margin: 3px 0;
    height:30px;
    background-color: #212121;
    display:block;
}
    #leftbar ul li:nth-child(1){
        margin-top:50px;
    }


#leftbar ul li a{
    width:170px;
    height:30px;
    text-decoration:none;
    color: #F2F2F2;
    position:relative;
    display: block;
    padding: 5px 0 0 15px;
}

.badge{
    position:absolute;
    right:10px;
    top:5px;
    background-color: #FC6E51;
    font-size:12px;
    -webkit-font-smoothing: antialiased;
}

#btnDashboard{ border-right: solid 5px indianred;}
#btnSerie{ border-right: solid 5px #F6BB42;}
#btnNews{ border-right: solid 5px #5735AA;}
#btnImgur{ border-right: solid 5px #85BF25;}
#btnFoodStorm{ border-right: solid 5px #3A5795;}
#btnSnipp{ border-right: solid 5px #F08EB0;}

#btnDashboard.active{ background-color: indianred; }
#btnSerie.active{ background-color: #F6BB42; }
#btnNews.active{ background-color: #5735AA; }
#btnImgur.active{ background-color: #85BF25; }
#btnFoodStorm.active{ background-color: #3A5795; }
#btnSnipp.active{ background-color: #F08EB0; }

#btnDashboard:hover{ background-color: indianred; }
#btnSerie:hover{ background-color: #F6BB42; }
#btnNews:hover{ background-color: #5735AA; }
#btnImgur:hover{ background-color: #85BF25; }
#btnFoodStorm:hover{ background-color: #3A5795; }
#btnSnipp:hover{ background-color: #F08EB0; }


/*SERIES*/
#SeriesContaineurs{
    width:80%;
    overflow: hidden;
    position: relative;
    margin: 56px 211px;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    font-size: 14pxem;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

.wrapper {
    width: 95%;
    margin: 3em auto;
}

   #SeriesContaineurs .item{
         position: relative;
         display: inline-block;
        background-color: #f2f2f2;
        border-radius: 5px;
        margin: 0 0 1.5em;
        padding: 1em;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }


        #SeriesContaineurs .cover{
            width:100%;
            max-width:100%;
        }
        #SeriesContaineurs .item h4{
            text-align: center;
        }
        #SeriesContaineurs .finit{
            background-color: #C1C1C1;
        }

#SeriesContaineurs h3{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height:1.1;
    font-family: "Roboto Slab",helvetica,sans-serif;
    color: #262626;
}

#SeriesContaineurs table{
    border-spacing: 0px;
    color: #303030;
    width:95%;
    margin:20px 0 0 20px;
    padding-bottom: 20px;
}

    #SeriesContaineurs table tr{
        height:25px;
        width: 550px;
    }

    #SeriesContaineurs table tr.sortis{
        color: #C1C1C1;
    }

    #SeriesContaineurs table tr.new{
        color: #F6BB42;
        font-weight: 700;
    }

    .cogbutton{
        width:15px;
        height: 15px;
        position: absolute;
        margin-top:189px;
        right: 8px;
        cursor: pointer;
    }

    .buttonVu{
        position: static;
        float: right;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #F6BB42;
        border: 2px solid #FFCF7B;
        cursor: pointer;
    }

    .buttonVu.active{
        background-color: #353535;
        border: 2px solid #DDDBDB;
    }

.formaddserie, .formaddepisode{
    padding:0;
    margin:0;
    width:500px;
    margin:40px;
}
.formaddserie input, .formaddserie select {
    width: 500px;
    margin: 5px 0;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.formaddepisode #addDateEpisode, #addNomEpisode{
    width: 240px;
    float:left;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.formaddepisode #addNomEpisode{
    margin-left: 20px;
}

.formaddepisode .btn{
    margin: 10px 0 0 440px;
}

.modificationButton{
    z-index:1000;
}

.addBtn{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    background-color: #c7666c;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #f2f2f2;
    transition: background-color .5s;
    box-shadow: 0px 3px 10px 1px #191919;
}

.addBtn:hover{
    transition: background-color .5s;
    background-color: #fc838f;
}

.addBtn p {
    position: absolute;
    top:-50.5px; left:23%;
    color: #f2f2f2;
    font-size: 40px;
}





/* Bootstrp modal */
.fade.in {
    opacity: 1;
}
.modal {
    position: fixed;
    padding-top:50px;
    top:0;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1040;
    display: none;
    overflow: auto;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}

.modal.in .modal-dialog {
    transform: translate(0px, 0px);
}
.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out 0s;
}
.modal-dialog {
    right: auto;
    left: 50%;
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 1050;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.modal-content {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0px none;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

.modal-header {
    font-size: 18px;
    padding: 5px 15px;
    border-bottom: 1px solid #E5E5E5;
}

.modal-body {
    position: relative;
}

.modal-footer {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #E5E5E5;
}

.modal-header .close {
    margin-top: -2px;
}
button.close {
    padding: 0px;
    cursor: pointer;
    background: none repeat scroll 0% 0% transparent;
    border: 0px none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0px 1px 0px #FFF;
    opacity: 0.2;
}

.btn-default {
    color: #333;
    background-color: #FFF;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #CCC;
    border-radius: 4px;
    -moz-user-select: none;
}
.modal-footer .btn + .btn {
    margin-bottom: 0px;
    margin-left: 5px;
}
.btn-primary {
    color: #FFF;
    background-color: #428BCA;
    border-color: #357EBD;
}
